{% extends 'layout.html' %}

<!-- HEADER -->
    {% block header %}
        {# aqui va el menu de navegación #}
        {% include "navegacion.html" %}
    {% endblock %}
        
<!-- MAIN -->
    {% block main %}
        <h3>CONTROLA TU CONSUMO DIARIO DE AGUA</h3>
        <h4>INSTRUCCIONES:</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis asperiores laboriosam eos. Perferendis aut odit earum magni ducimus ipsa quis, repellat facilis exercitationem dignissimos tempora aliquid, omnis ex perspiciatis. Eos vel harum in quis culpa assumenda, quo voluptatum obcaecati iste ab facere quasi cupiditate voluptates libero numquam unde aut blanditiis distinctio fugit voluptas dignissimos, aperiam repellendus exercitationem sequi? Inventore animi veritatis dignissimos enim omnis eligendi exercitationem quasi totam quis minima. Sequi impedit architecto rerum dolores asperiores fuga, quidem ex facere totam accusamus dolore pariatur iste provident sit, quia quae inventore porro labore autem? Eos, dicta doloremque assumenda aut voluptate sed.</p>
    {% endblock %}  

<!-- FOOTER -->
    {% block footer %}

    {% endblock %} 