{% extends 'layout.html' %}

<!-- HEADER -->
    {% block header %}
        {# aqui va el menu de navegación #}
        {% include "navegacion.html" %}
    {% endblock %}
        
<!-- MAIN -->
    {% block main %}
        <h3>CONTROLA TU CONSUMO DIARIO DE AGUA</h3>
        <hr>
        <h4>INSTRUCCIONES:</h4>
        <p>Debes introducir los vasos de agua que bebes al dia.</p>
        <p>Para ello haz click en Nuevo del menu.</p>
        <p>Para facilitar la introducción de datos hemos dividido el día en Mañana, Mediodía, Tarde y Noche.</p>
        <p>Una vez introducido los datos pulsa guardar. Ahora aparecera un listado con una nueva fila con los datos introducidos y el cálculo de los litros consumidos en la última columna.</p>
        <p>Para el cálculo consideramos que un vaso son 250ml de agua.</p>
        <p>Podrás editar los datos del día desde el listado mediante el botón Editar.</p>
        <p>Desde el listado también podrás borrar un día de consumo, si así lo deseas.</p>
        <p>Puedes acceder al listado siempre que lo desees desde la opción Listar del menu. Ten en cuenta que el listado esta ordenado en fecha descendente, por lo que los últimos días de consumo siempre te apareceran al principio del listado.</p>
        <p>Puedes acceder siempre a estas instrucciones desde la opción Home del menu.</p>
    {% endblock %}  

<!-- FOOTER -->
    {% block footer %}

    {% endblock %} 